html,
body {
    background-color: white;
    min-width: 480px;
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* common css */
.header,
.footer {
    color: white;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
}

.footer {
    width: 100%;
    position: relative;
}

/* mobile version */
@media (max-width: 768px) {
    /*TODO*/
}
/* desktop version */
@media (min-width: 769px) {
    .menu-container {
        display: block;
    }
    .header {
        height: 90px;
        font-size: 30px;
        line-height: 90px;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .header .nav-container {
        margin-top: -90px;
        font-size: 20px;
        padding: 25px 0;
        line-height: 40px;
    }
    .footer {
        height: 60px;
        line-height: 60px;
        background-color: rgba(0, 0, 0, 0.26);
        font-size: 16px;
        overflow: hidden;   
    }
    .footer .nav-container {
        margin-top: -60px;
    }
    .footer .nav:hover {
        color: rgba(0,0,0,0.26);
    }
    .brand {
        width: 240px;
        margin-left: 48px;
    }
    .nav-container {
        float: right;
        display: -webkit-box;
        text-align: right;
        margin-right: 48px;
    }
    .nav {
        margin: 0 10px;
        cursor: pointer;
    }
    .nav:hover {
        border-bottom: 1px solid white;
    }
    .content {
        margin: 0 auto;
        width: 600px;
        margin-top: 120px;
        font-size: 18px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.84);
    }
}